*{
    background-color: blueviolet;
}
.big{
    border:5px solid white;
    height: 750px;
    width: 75%;
    margin: 12%;
    display: flex;
}
.left{
    background-color: white;
    width: 25%;
    height: 750px;
    margin-right: auto;
}
.right{
    width:75%;
    height: 700px;
}
.hexd{
    display: flex;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 95%;
}
p{
    float:left;
    margin-left: 30px;
    margin-top: 110px;
    color: purple;
    background-color: white;
}
.ppic{
    width: 50px;
    height: 30px;
    margin-top: 110px;
    background-color: white;
    margin-left: 20px;
}
hr{
    margin-top: 10px;
    margin-bottom: 7%;
    background-color: white;
}
.tdlist{ 
    width: 50px;
    margin-left: 30px;
    background-color: white;
    height: 35px;
}
.body{
    display: inline-block;
    background-color: white;
}
h4{
    float:right;
    margin-top: 20px;
    margin-left: 10px;
    background-color: white;
}
#list{
    background-color: white;
}
li{
    margin-left: 55%;
    margin-top: 30px;
    background-color: white;
}
.foot{
    margin: 10%;
    font-size: 35px;
    background-color: white;
}
.vl{
    border: 2px solid white;
}
.right{
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50%;
}
.head{
    margin-left: 10%;
    margin-top: 8%;
    font-size: 40px;
}
#p1{
    margin-top: 2%;
    color: white;
    background-color: blueviolet;
}
/*
#p2{
    margin-top: 10%;
    font-size: 40px;
    margin-left:15px;
    float: left;
    color: white;
    background-color: blueviolet;
}*/
.head2{
    border:5px solid white;
    margin-left:10%;
    margin-top:10px;
    width:75%;
    height:65px;
    color:white;
    border-radius: 5px;
    display: inline-flex;
    background-color: white;
}
.head3{
    background-color: white;
}
.pink{
    background-color: red;
    border:1px solid red;
    /*border-radius:50%;*/
}
.blue{
    background-color: blue;
    border:1px solid blue;
    /*border-radius:50%;*/
}
.yellow{
    background-color: yellow;
    border:1px solid yellow;
    /*border-radius:50%;*/
}
.gen{
    height: 25px;
    width: 25px;
    margin: 10px;
   border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.head3{
    display: inline-flex;
}
.cont1{
    padding: 20px;
    margin:3px;
    width:100%;
    height:3px;
    background-color: white;
}
input{
    border:hidden;
    background-color: white;
    width: 100%;
    height: 25px;
    margin-top: 1px;
}
::placeholder{
    color: grey;
    font-size: 23px;
    margin: top 2px;
    text-align: center;
}
.task{
    width:35%;
    height:75%;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    text-align: center;
    background-color: white;
    color: black;
}
.gen3{
    font-size: 17px;
}
.gen2{
    font-size: 17px;
}
#tick{
    border-radius: 100%;
    margin-top: 6px;
    height: 25px;
    width: 25px;
}
